/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  html {
    font-size: 52%;
  }
  body {
    font-size: 2rem;
    text-align: center;
  }
  .footer-bottom ul {
    justify-content: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .navbar-nav {
    background: rgba(255, 255, 255, 0.9);
    height: 95vh;
    justify-content: center;
    gap: 3.2rem;
  }
  .nav-link {
    font-size: 3.4rem;
  }
  .theme-btn--nav {
    padding: 1.2rem 3.6rem;
    font-size: 3.4rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
